# Zsh plugins
if [[ -r "$XDG_DATA_HOME/zsh/plugins/zas/zsh-autosuggestions.zsh" ]]; then
  source "$XDG_DATA_HOME/zsh/plugins/zas/zsh-autosuggestions.zsh"
  zle_highlight=('paste:none')
fi
if [[ -r "$XDG_DATA_HOME/zsh/plugins/fsh/fast-syntax-highlighting.plugin.zsh" ]]; then
  source "$XDG_DATA_HOME/zsh/plugins/fsh/fast-syntax-highlighting.plugin.zsh"
fi

# History
HISTFILE="$XDG_STATE_HOME/zsh/history"
HISTSIZE=50000
SAVEHIST=50000
mkdir -p "${HISTFILE:h}"

setopt hist_fcntl_lock
setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt share_history

# Completion
typeset -g ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"
mkdir -p "$ZSH_CACHE_DIR"

autoload -Uz compinit
compinit -d "$ZSH_CACHE_DIR/zcompdump"

zstyle ':completion:*:default' menu select=2
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

# Key bindings
bindkey -e
bindkey '^[[3~' delete-char
bindkey '^[[1;5D' backward-word
bindkey '^[[1;5C' forward-word

# Aliases
alias mkdir='mkdir -p'
alias sudo='sudo '
alias sv='sudoedit'

if (( $+commands[eza] )); then
  alias l='eza'
  alias la='eza -a'
  alias ll='eza -l --git --icons'
  alias lla='eza -al --git --icons'
  alias lt='eza -T --icons'
  alias lta='eza -aT --icons'
else
  alias l='ls'
  alias la='ls -A'
  alias ll='ls -Al'
fi

if (( $+commands[fzf] )); then
  eval "$(fzf --zsh 2>/dev/null)"
fi

if (( $+commands[direnv] )); then
  eval "$(direnv hook zsh)"
fi

if (( $+commands[starship] )); then
  eval "$(starship init zsh)"
fi
